# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.bmp binary
*.tif binary
*.tiff binary
*.exe binary
*.dll binary
*.so binary
*.o binary
*.obj binary
*.pyc binary

# Source Codes
*.c     text diff=cpp
*.h     text diff=cpp
*.cpp   text diff=cpp
*.hpp   text diff=cpp
*.py    text diff=python
*.l     text
*.y     text
*.java  text diff=java
